<div class="relative overflow-x-auto">
    <table
        class="w-full text-sm text-left rtl:text-right text-slate-500 dark:text-slate-400"
    >
        <thead
            class="text-xs text-slate-700 uppercase bg-slate-50 dark:bg-slate-700 dark:text-slate-400"
        >
            <tr>
                <th scope="col" class="px-6 py-3">Apellidos y nombres</th>
                <th scope="col" class="px-6 py-3">Rol</th>
                <th scope="col" class="px-6 py-3">Fecha de nacimiento</th>
                <th scope="col" class="px-6 py-3">Email</th>
                <th scope="col" class="px-6 py-3">Operación</th>
            </tr>
        </thead>
        <tbody>
            @for (item of data; track $index) {
            <tr
                class="bg-white border-b dark:bg-slate-800 dark:border-slate-700"
            >
                <th
                    scope="row"
                    class="px-6 py-4 font-medium text-slate-900 whitespace-nowrap dark:text-white"
                >
                    {{ item.apellido + ", " + item.nombre }}
                </th>
                <td class="px-6 py-4">
                    {{ item.idRol.nombre }}
                </td>
                <td class="px-6 py-4">
                    {{ item.fechaNacimiento }}
                </td>
                <td class="px-6 py-4">
                    {{ item.email }}
                </td>
                <td class="px-6 py-4">
                    <div class="flex flex-row justify-start gap-8">
                        <i
                            class="fa-solid fa-trash text-red-600 hover:bg-red-950 rounded-md p-1 cursor-pointer"
                            (click)="this.handleDeleteUser(item.id)"
                        ></i>
                        <i
                            class="fa-solid fa-pen-to-square text-green-600 hover:bg-green-950 rounded-md p-1 cursor-pointer"
                            (click)="this.handleEditUser(item.id)"
                        ></i>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
