<div
    class="px-4 py-10 text-center flex flex-col gap-4 min-h-screen items-center text-slate-100"
>
    <i
        class="fa-solid fa-door-open text-6xl hover:text-slate-400 transition-all duration-300"
    ></i>
    <h2 class="text-xl font-semibold">¡Bienvenido!</h2>
    <p class="">
        Este es el dashboard de Formación Canteras, donde podrás acceder a toda
        la información relevante de tu proyecto.
    </p>
    <h3 class="text-lg font-semibold">Integrantes del Proyecto:</h3>
    <ul class="flex flex-row items-center gap-4">
        @for (item of users; track $index) {
        <li
            class="flex flex-col justify-center items-center gap-2 py-4 px-4 bg-slate-700 rounded-xl cursor-pointer hover:bg-slate-600 transition-all duration-300"
        >
            <img
                src="{{ item.icono }}"
                alt="Icon Github"
                class="h-20 w-20 rounded-xl"
            />
            <div>
                <div class="font-bold">
                    {{ item.apellido }}
                </div>
                <div>
                    {{ item.nombre }}
                </div>
            </div>
            <a href={{item.url}} target="_blank" rel="noopener noreferrer" class="flex flex-row gap-1 items-center py-1 px-2 bg-slate-500 rounded-full cursor-pointer">
                <i class="fa-brands fa-github"></i>
                {{item.userName}}
            </a>
        </li>
        }
    </ul>
</div>
