<div class="p-4 text-center">
    <h2 class="text-xl font-semibold mb-4">¡Bienvenido!</h2>
    <p class="mb-8">
        Este es el dashboard de Formación Canteras, donde podrás acceder a toda
        la información relevante de tu proyecto.
    </p>
    <h3 class="text-lg font-semibold mb-2">Integrantes del Proyecto:</h3>
    <ul class="">
        <li>Mondalgo Tapia, Juan Carlos</li>
        <li>Lavado Torres, Gianmarco Gabriel</li>
        <li>Aco Tito, Anthony Edwin</li>
        <li>Hilario Soto, Jheisson Rudy</li>
    </ul>
</div>